.navbar{
		background-color: #457;
}
.container-fluid{
	margin: 0;
	padding: 0;
}

.navbar-brand{
  font-size: 32px;
  color: white;
  padding-left: 24px;
}

.navbar-brand:hover{
	color: white;
}

.nav{
	margin: 0;
	padding: 0;
}



.navbar-toggle{
	border: 2px solid white;
	margin-right: 25px;
}

.navbar-nav{
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.icon-bar{
	background-color: #fff;
}


.main-title{
  margin-bottom: 16px;
  text-align: center;
  color: #0091e4;
  font-size: 50px;
  font-family: sans-serif;
  }

li{
	box-sizing: border-box;
	width: 100%;
}

.menu-item:hover{
	background-color: #f8f8f8;
	color: #333;
}


.menu-item{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: white;
		color: #333;
	display: block;
}


.row{
	margin: 16px;
}

.content-box{
	margin: 20px;
	width: auto;
	height: auto;
	color: #333;
	background-color: #eeeccc;
	font-family: sans-serif, Arial;
	padding: 20px;
}

.item{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

#top{

}
